<body>
<header>
    <p class="userGreeting">
        <strong>Welcome
            <% if (loggedUser) { %>
                <span style="color: red"><%= loggedUser %></span>! Have a Great Day!
            <% } else { %>
                <span style="color: red">Guest</span>! You are currently logged out
            <% } %>
        </strong>
    </p>
    <table>
        <tr>
            <td>
                <h1>
                    CodePaws Adoption Hub
                </h1>
            </td>
            <td>
                <a href="/">
                    <img src="/images/logo.png" alt="logo" width="80" height="80" style="padding-top: 10px;">
                </a>
            </td>
        </tr>
    </table>
    <p id="dateandtime"></p>
</header>