<%- include("partials/header")%>
<div id="cat" class="section">
    <h2 class="content">Cat Care</h2>
    <h3 class="content">Feeding:</h3>
    <p>
        Choose high-quality cat food based on your vet's advice, considering factors like age and health. Taurine is vital for heart and eye health, so opt for well-balanced foods. Ensure a constant supply of fresh water, keeping bowls clean and refilled daily. Limit treats to 5-10% of the diet. Exercise caution with baby food, checking for onion or garlic powder. If your cat shows signs of illness for more than two days, consult your vet. Explore our People Foods to Avoid and Cat Nutrition Tips pages for additional guidance.
    </p>
    <h3 class="content">Housing:</h3>
    <p>
        Provide your pet with a clean, dry sleeping area lined with a soft blanket or towel. Regularly wash the bedding. Keeping your cat indoors is recommended for their safety, as outdoor cats face risks such as accidents, fights with other animals, and exposure to diseases. Outdoor cats are also susceptible to fleas, ticks, and potential predators like coyotes, impacting their overall well-being.
    </p>
    <h3 class="content">Grooming:</h3>
    <p>
        While most cats don't require frequent baths, regular brushing or combing is essential. This practice helps maintain a clean coat, minimizes shedding, and reduces the occurrence of hairballs.
    </p>
    <h3 class="content">Healthcare:</h3>
    <p>
        Cats should receive regular veterinary care to prevent and treat health problems. This includes vaccinations, parasite control, dental care, and spaying/neutering. Cats should also be protected from hazards such as toxic foods, plants, and chemicals.
    </p>
    <h3 class="content">Cat Supply Checklist:</h3>
    <ul class="content">
        <li>Food and water bowls</li>
        <li>Cat food</li>
        <li>Bed or crate</li>
        <li>Toys and treats</li>
        <li>Grooming supplies</li>
        <li>Identification tag</li>
        <li>First aid kit</li>
        <li>Travel carrier</li>
        <li>Training supplies</li>
    </ul>
    <h3 class="content">References</h3>
    <ul class="content">
        <li>
            <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care" target="_blank">https://www.aspca.org/pet-care/cat-care/general-cat-care</a>
        </li>
    </ul>
    <br>
</div>
<%- include("partials/footer")%>
