<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodePaws Adoption</title>
    <meta charset="utf-8">
    <link rel="icon" href="/images/codepawsrounded.png">

    <link rel="stylesheet" href="/styles.css">
    <!--All images used on this site are from:
        wikipedia.com, github.com, linkedin.com, AI Generated or Personal Photos
        All references used from articles are cited at the
        bottom of their respective pages.
    -->
    <script src="/index.js" defer></script>
</head>
<%- include("partials/header")%>
<%- include("partials/leftsidebar")%>
<div id="contact" class="section">
    <h2 class="content">Contact Us</h2>
    <p class="content">
        If you have any questions or concerns, please feel free to contact us. We are here to help you find the perfect pet for your family.
    </p>
    <h3 class="content">Contact Information:</h3>
    <ul class="content">
        <li>Email:
            <a href="mailto:li_benja@live.concordia.ca">
                li_benja@live.concordia.ca
            </a>
        </li>
        <li>Student ID: 40280899</li>
    </ul>
    <br>
    <table>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/benjamin-sliu/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="linkedin" width="30"></a>
            </td>
            <td>
                <a href="https://github.com/benjaminsunliu" target="_blank"><img src="images/github-mark.png" alt="github" width="30"></a>
            </td>
        </tr>
    </table>

</div>
<%- include("partials/footer")%>
