<%- include("partials/header")%>
<div id="disclaimer" class="section">
    <h2 class="content">Privacy/Disclaimer Statement</h2>

    <p>We value your privacy and are committed to protecting your personal information. This Privacy/Disclaimer Statement explains how we collect, use, and safeguard your data when you visit our website.</p><br>

    <h2>Protection of Information</h2>

    <p>We take appropriate measures to ensure the security and confidentiality of your personal information. We do not sell or misuse your data, and we are committed to protecting it from unauthorized access.</p><br>

    <h2>Information Accuracy</h2>

    <p>
        Additionally, please note that the content shared by pet owners is based on their individual experiences. While we encourage a supportive community, we cannot guarantee the accuracy of all information. Users are responsible for verifying details and consulting professionals for specific advice.
    </p><br>

    <h2>Disclaimer</h2>

    <p>This website is not responsible for any incorrect information posted by users. Users are encouraged to verify the accuracy of information before relying on it. We disclaim any liability for damages arising from the use of this website.</p><br>
</div>
<%- include("partials/footer")%>
