<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodePaws Adoption</title>
    <meta charset="utf-8">
    <link rel="icon" href="/images/codepawsrounded.png">

    <link rel="stylesheet" href="/styles.css">
    <!--All images used on this site are from:
        wikipedia.com, github.com, linkedin.com, AI Generated or Personal Photos
        All references used from articles are cited at the
        bottom of their respective pages.
    -->
    <script src="/index.js" defer></script>
</head>
<%- include("partials/header")%>
<%- include("partials/leftsidebar")%>
<div id="home" class="section">
    <div class="content">
        <h2 class="content">Welcome to CodePaws Adoption Hub!</h2>
        <p class="welcome">
            Connecting Loving Homes with Furry Friends
        </p>
        <img src="images/home.png" alt="" width="600">
        <p class="welcome">
            CodePaws Adoption Hub welcomes you to a community passionately dedicated to connecting loving homes with furry friends. Our platform is designed to facilitate the adoption process, bringing together adopters and adorable pets in need of forever homes. Explore our space, where the joy of finding a new family member meets the warmth of creating lasting bonds. Join us in making a difference in the lives of both pets and adopters alike.
        </p>
    </div>
</div>
<%- include("partials/footer")%>
